{
  "aws:ec2:vpc" : {
    "ELBSubnets" : null,
    "ELBScheme" : "public",
    "Subnets" : null,
    "VPCId" : null
  },
  "aws:elasticbeanstalk:hostmanager" : {
    "LogPublicationControl" : "false"
  },
  "aws:elasticbeanstalk:application:environment" : {
    "PARAM3" : "",
    "AWS_SECRET_KEY" : "",
    "PARAM2" : "",
    "AWS_ACCESS_KEY_ID" : "",
    "PARAM5" : "",
    "PARAM1" : "a",
    "PARAM4" : "",
    "JDBC_CONNECTION_STRING" : ""
  },
  "aws:cloudformation:template:parameter" : {
    "AppSource" : "http://s3-us-west-1.amazonaws.com/elasticbeanstalk-samples-us-west-1/elasticbeanstalk-sampleapp.war",
    "JVMOptions" : "XX:MaxPermSize=64m,JVM Options=,Xmx=277m,Xms=256m",
    "InstancePort" : "80",
    "EnvironmentVariables" : "PARAM3=,PARAM4=,PARAM1=,PARAM2=,JDBC_CONNECTION_STRING=,PARAM5=,AWS_SECRET_KEY=,AWS_ACCESS_KEY_ID="
  },
  "aws:elasticbeanstalk:container:tomcat:jvmoptions" : {
    "Xmx" : "277m",
    "JVM Options" : "",
    "XX:MaxPermSize" : "64m",
    "Xms" : "256m"
  },
  "aws:elb:loadbalancer" : {
    "LoadBalancerHTTPSPort" : "OFF",
    "SSLCertificateId" : null,
    "LoadBalancerHTTPPort" : "80"
  },
  "aws:elasticbeanstalk:sns:topics" : {
    "Notification Topic ARN" : null,
    "Notification Endpoint" : "",
    "Notification Topic Name" : null,
    "Notification Protocol" : "email"
  },
  "aws:elasticbeanstalk:application" : {
    "Application Healthcheck URL" : ""
  },
  "aws:elasticbeanstalk:monitoring" : {
    "Automatically Terminate Unhealthy Instances" : "true"
  },
  "aws:elb:policies" : {
    "Stickiness Policy" : "false",
    "Stickiness Cookie Expiration" : "0"
  },
  "aws:autoscaling:asg" : {
    "Availability Zones" : "Any",
    "MaxSize" : "4",
    "Cooldown" : "360",
    "MinSize" : "1",
    "Custom Availability Zones" : ""
  },
  "aws:elasticbeanstalk:control" : {
    "RollbackLaunchOnFailure" : "false",
    "DefaultSSHPort" : "22",
    "LaunchType" : "Normal",
    "LaunchTimeout" : "0"
  },
  "aws:elb:healthcheck" : {
    "Target" : "TCP:80",
    "UnhealthyThreshold" : "5",
    "HealthyThreshold" : "3",
    "Interval" : "30",
    "Timeout" : "5"
  },
  "aws:autoscaling:launchconfiguration" : {
    "MonitoringInterval" : "5 minute",
    "ImageId" : "ami-1bf9de5e",
    "SecurityGroups" : "default",
    "EC2KeyName" : null,
    "InstanceType" : "t1.micro"
  },
  "aws:autoscaling:trigger" : {
    "MeasureName" : "NetworkOut",
    "BreachDuration" : "5",
    "EvaluationPeriods" : "1",
    "LowerBreachScaleIncrement" : "-1",
    "Period" : "5",
    "LowerThreshold" : "2000000",
    "Statistic" : "Average",
    "UpperThreshold" : "6000000",
    "Unit" : "Bytes",
    "UpperBreachScaleIncrement" : "1"
  }
}